<li>
  {{id}}. {{name}}
  <br>
  <button class='change-devour waves-effect waves-light orange darken-4 btn' data-id='{{id}}'
    data-newdevour='{{devour}}'>
    {{#if devour}}Devour It!{{/if}}
  </button>
</li>